$white_color: #ffffff;
$white_color2: #f9f9ff;
$white_color3: #e3e3dd;
$white_color4: #e4ebf1;
$nav1: #7799bb;
$nav2: #f9f9ff;
$orange: #f16521;
$orange2: #f26522;
$light_orange: #f6d3c3;
$light_orange2: #f5b490;
$light_orange3: #eda785;
$light_brown: #e8c7a6;
$dark_brown: #2e2821;
$gray: #4d4c4e;
$gray2: #656069;
$gray3: #808286;
$gray4: #414042;
$gray5: #484b53;
$gray6: #4e4d4f;
$gray7: #3f3f3f;
$gray8: #888888;
$gray9: #acacac;
$gray10: #e5e5e5;
$blue1: #262d40;
$blue2: #242f51;
$blue3: #32325d;
$blue4: #779bc7;
$blue5: #006699;
$blue6: #36a2f4;
$blue7: #212240;
$blue8: #8081ab;
$blue9: #5b5975;
$light_blue: #525f7f;
$black: #0b0b0b;
$black2: #24242b;
$black3: #211c1a;
$purple: #8a5b9d;
$light_red: #452a31;